<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Listado Empleados</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="20%">Nombre</th>
                    <th width="20%">Apellidos</th>
                    <th width="35%">Email</th>
                    <th width="25%">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | async">
                    <td style="padding-top: 19px;">{{employee.firstName}}</td>
                    <td style="padding-top: 19px;">{{employee.lastName}}</td>
                    <td style="padding-top: 19px;">{{employee.emailId}}</td>
                    <td>
                        <button (click)="employeeDetails(employee.id)" class="btn btn-info">Info</button>
                        <button (click)="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 10px">Actualizar</button>
                        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>